<% if ( ! isAuthenticated ) { %>
    <div>
        This is a public page. Click on the Login link to authenticate and see the list of posts.
    </div>
<% } else { %>
    <div>
        This is a public page.
    </div>
<% } %>
